@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
body, html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	/*variables*/
	--text-size: calc(16px + (20 - 16) * (100vw - 320px)/(1440 - 320));
	--white-text: #ffffffdd;
	--black-text: #000000dd;
	--almost-white: #ffffff88;
	--almost-black: #00000088;
	--black-shadow: #00000055;
	--bgcolor-1: #009acf;
	--bgcolor-2: #ffc989;
	--bgcolor-3: #82e77a;
	--bgcolor-4: #ff9da6;
	--bgcolor-5: #9d87de;
	--bgcolor-6: #4fcebc;
	--bgcolor-7: #e4eae7;
	font-family: sans-serif;
}
/*for dynamic calculation of font-size*/
h1{
	font-size: calc(56px + (128 - 56) * (100vw - 320px)/(1440 - 320));
	margin: 20px 0;
}
h3 {
	font-size: calc(48px + (56 - 48) * (100vw - 320px)/(1440 - 320));
	margin: 0;
	padding: calc(10px + (20 - 10) * (100vw - 320px)/(1440 - 320)) 0;
}
h4 {
	font-size: calc(28px + (36 - 28) * (100vw - 320px)/(1440 - 320));
	margin: 0;
	padding: calc(8px + (15 - 8) * (100vw - 320px)/(1440 - 320)) 0;
}
h5 {
	font-size: calc(16px + (20 - 16) * (100vw - 320px)/(1440 - 320));
	margin: 0;
	padding: calc(5px + (10 - 5) * (100vw - 320px)/(1440 - 320)) 0;
	text-transform: uppercase;
}
a {
	color: inherit;
}
p {
	margin: 0;
	padding: calc(2px + (5 - 2) * (100vw - 320px)/(1440 - 320)) 0 calc(5px + (10 - 5) * (100vw - 320px)/(1440 - 320));
}
ul {
	margin: 0;
	padding-top: calc(2px + (5 - 2) * (100vw - 320px)/(1440 - 320));
	padding-bottom: calc(5px + (10 - 5) * (100vw - 320px)/(1440 - 320));
}
.content {
	/*max-width: 940px;*/
	margin: 0 calc(0px + (222.35 - 0) * (100vw - 320px)/(1440 - 320));
	padding: 40px 20px;
	box-sizing: border-box;
	font-size: var(--text-size);
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxCOVERxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.cover {
	background-color: var(--bgcolor-1);
	min-height: 100%;
	padding: 8vh 3%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.my-pic {
	height: calc(180px + (250 - 180) * (100vw - 320px)/(1440 - 320));
	width: calc(180px + (250 - 180) * (100vw - 320px)/(1440 - 320));
	max-width: 250px;
	max-height: 250px;
	border-radius: 50%;
	border: calc(3.84px + (8 - 3.84) * (100vw - 320px)/(1440 - 320)) solid var(--almost-white);
}
.name {
	color: var(--white-text);
	text-align: center;
}
.social-networks {
	width: 100%;
	text-align: center;
}
.social-network {
	border: 2px solid var(--almost-white);
	width: 220px;
	text-align: center;
	padding: 10px;
	border-radius: 4px;
	transition: 0.5s ease-in-out;
	color: var(--white-text);
	font-size: 14px;
	display: inline-block;
	box-sizing: border-box;
	margin: 30px 10px;
}
.front {
	display:block;
	transition: 1s ease-in-out;
}
.back {
	display: none;
	color: var(--bgcolor-1);
	transition: all 0s ease 0s;
}
.social-network:hover {
	border-radius: 25px;
	background: var(--white-text);
}
.social-network:hover .front {
	display: none;
}
.social-network:hover .back {
	display: block;
}
.cover a {
	text-decoration: none;
}
#tooltip {
	position: fixed;
	background: var(--almost-black);
	color: var(--white-text);
	z-index: 11;
	bottom: 0;
	right: 0;
	padding: var(--text-size);
	font-size: var(--text-size);
	max-width: 20vw;
	margin: var(--text-size);
	display: none;
	border-radius: 5px;
}
.emailid:hover #tooltip{
	display: block;
	background: var(--black-text);
}
.active-tooltip {
	padding-right: calc(2 * var(--text-size)) !important;
	display: block !important;
}
.active-tooltip::after {
	content: "";
	width: 2vw;
	height: 2px;
	background: var(--almost-white);
	z-index: 12;
	position: absolute;
	right: 0;
	top: calc(0.7 * var(--text-size));
	border-radius: 1px;
	transform: rotate(45deg);
	transform-origin: center center;
}
.active-tooltip::before {
	content: "";
	width: 2vw;
	height: 2px;
	background: var(--almost-white);
	z-index: 12;
	position: absolute;
	right: 0;
	top: calc(0.7 * var(--text-size));
	border-radius: 1px;
	transform: rotate(-45deg);
	transform-origin: center center;
}
.active-tooltip::before:hover, .active-tooltip::after:hover {
	background: var(--white-text);
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxEDUCATIONxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.education {
	background: var(--bgcolor-2);
	color: var(--black-text);
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxEXPERIENCExxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.experience {
	background: var(--bgcolor-3);
}
.experience span, .experience a {
	color: var(--almost-black)
}
.experience a:hover {
	color: var(--black-text)
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxSKILLSxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.skills {
	background: var(--bgcolor-4);
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxPROJECTSxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.projects {
	background: var(--bgcolor-5);
}
.acc-content {
	perspective: 1000px;
}
.accordion {
	background: var(--almost-white);
	color: var(--black-text);
	cursor: pointer;
	padding: var(--text-size);
	width: 100%;
	height: 100%;
	text-align: left;
	border: none;
	outline: none;
	font-size: var(--text-size);
	font-weight: bold;
	margin-bottom: var(--text-size);
	border-radius: 5px;
	transition: 0.1s ease;
}
.active, .accordion:hover {
	background-color: var(--white-text);
	color: var(--bgcolor-5);
}
.active {
	border-radius: 5px 5px 0 0;
}
.panel {
	background: var(--bgcolor-5);
	transform-origin: top left;
	position: relative;
	top: calc(-1*var(--text-size));
	border-radius: 0 0 5px 5px;
}
.inactive-panel {
	transform: rotateX(-90deg);
	padding: 0 var(--text-size);
	border: none;
	opacity: 1;
	max-height: 0;
	animation: close 300ms ease-in-out forwards;
}
.active-panel {
	transform: rotateX(0deg);
	padding: var(--text-size);
	border: 2px solid var(--almost-white);
	border-top: none;
	opacity: 1;
	max-height: 500px;
	animation: open 600ms ease-in-out forwards;
}
@keyframes open {
	0% {
		transform: rotateX(-90deg);
		padding: 0 var(--text-size);
		border: 2px solid var(--almost-white);
		border-top: none;
		opacity: 1;
		height: 0.1px;
	}
	50%{
		transform: rotateX(30deg);
		padding: calc(var(--text-size)*5/3) var(--text-size);
	}
	90% {
		transform: rotateX(-10deg);
		padding: calc(var(--text-size)*0.8) var(--text-size);
	}
	100% {
		transform: rotateX(0deg);
		padding: var(--text-size);
		border: 2px solid var(--almost-white);
		border-top: none;
		opacity: 1;
		height: 100%;
	}
}
@keyframes close {
	0% {
		transform: rotateX(0deg);
		padding: var(--text-size);
		border: 2px solid var(--almost-white);
		border-top: none;
		opacity: 1;
	}
	50% {
		transform: rotateX(-90deg);
		padding: 0 var(--text-size);
	}
	90% {
		transform: rotateX(-80deg);
		padding: calc(var(--text-size)*0.2) var(--text-size);
	}
	100% {
		transform: rotateX(-90deg);
		padding: 0 var(--text-size);
		border: none;
		opacity: 0;
	}
}
.date {
	font-size: calc(var(--text-size)*0.6);
	color: var(--almost-black);
	text-transform: uppercase;
	padding: calc(2px + (5 - 2) * (100vw - 320px)/(1440 - 320)) 0;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxHOBBIESxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.hobbies {
	background: var(--bgcolor-6);
	min-height: calc(100% + 20px);
	position: relative;
	overflow: hidden;
	--flesh : #ffd3c1;
	--hair : #111427;
	--yellow : #d09233;
	--blue:#607789;
}
.girl-container {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: calc(132px + (160 - 132) * (100vw - 320px)/(1440 - 320));
	bottom: 0;
	width: 100%;
	height: 200px;
	--bangs-height: 50px;
	--bangs-top: -12px;
	--bangs-width: 94%;
	--head-height: 90px;
	--head-width: 70px;
	--head-top: 10px;
}
.girl-container div {
	position: absolute;
}
.girl {
	left: 0;
	right: 0;
	margin: auto;
	width: 80px;
	height: 160px;
}
.girl .head {
	transition: all 0.5s ease;
	width: var(--head-width);
	height: var(--head-height);
	background: var(--flesh);
	border-radius: 100px;
	top: var(--head-top);
	left: 5px;
}
.girl .head .bangs {
	transition: all 0.5s ease;
	height: var(--bangs-height);
	width: var(--bangs-width);
	background: var(--hair);
	content: "";
	position: absolute;
	border-radius: 100px 100px 10px 10px;
	top: var(--bangs-top);
	left: 3px;
}
.girl .look-left.head {
	left: -10px;
}
.girl .look-left.head .bangs {
	width: calc(var(--bangs-width) + 12%);
	left: -7px;
}
.girl .look-right.head {
	left: 15px;
}
.girl .look-right.head .bangs {
	width: calc(var(--bangs-width) + 12%);
	left: 5px;
}
.girl .look-down.head {
	top: calc(var(--head-top) + 10px);
	transform-origin: bottom center;
}
.girl .look-down.head .bangs {
	height: calc(var(--bangs-height) + 30px);
	top: calc(var(--bangs-top) - 20px);
}
.girl .look-up.head {
	top: calc(var(--head-top) - 10px);
	transform-origin: bottom center;
}
.girl .look-up.head .bangs {
	height: calc(var(--bangs-height) - 10px);
}
.girl .look-down-left.head {
	top: calc(var(--head-top) + 10px);
	left: -12px;
	transform: rotate(-10deg);
	transform-origin: bottom right;
}
.girl .look-down-left.head .bangs {
	height: calc(var(--bangs-height) + 10px);
	width: calc(var(--bangs-width) + 12%);
	left: -10px;
}
.girl .look-down-right.head {
	top: calc(var(--head-top) + 10px);
	left: 22px;
	transform: rotate(10deg);
	transform-origin: bottom left;
}
.girl .look-down-right.head .bangs {
	height: calc(var(--bangs-height) + 10px);
	width: calc(var(--bangs-width) + 12%);
}
.girl .look-up-left.head {
	top: calc(var(--head-top) - 10px);
	left: -10px;
	transform-origin: bottom center;
	transform: rotate(15deg);
}
.girl .look-up-left.head .bangs {
	width: calc(var(--bangs-width) + 11%);
	height: calc(var(--bangs-height) - 10px);
	left: -10px;
}
.girl .look-up-right.head {
	top: calc(var(--head-top) - 10px);
	left: 10px;
	transform-origin: bottom center;
	transform: rotate(-15deg);
}
.girl .look-up-right.head .bangs {
	width: calc(var(--bangs-width) + 11%);
	height: calc(var(--bangs-height) - 10px);
	left: 5px;
}
.girl .neck {
	height: 50px;
	width: 20px;
	position: absolute;
	border-radius: 0 0 100px 100px;
	background: var(--flesh);
	top: 70px;
	left: 30px;
	overflow: hidden;
}
.girl .neck:before {
	content: "";
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	top: -22px;
	background: #ebbfad;
	left: -18px;
	transition: all 0.5s ease;
}
.girl .look-left.neck:before {left: -38px;}
.girl .look-right.neck:before {left: -5px;}
.girl .look-down.neck:before {top: -15px;}
.girl .look-up.neck:before {top: -32px;}
.girl .look-down-left.neck:before {left: -38px; top: -10px;}
.girl .look-down-right.neck:before {left: -2px; top: -10px;}
.girl .look-up-left.neck:before {left: -38px; top: -30px;}
.girl .look-up-right.neck:before {left: -10px; top: -30px;}
.girl .hair {
	transition: all 0.5s ease;
	position: absolute;
	height: 170px;
	width: 105px;
	border-radius: 45px;
	background: var(--hair);
	left: -12px;
	top: -12px;
	overflow: hidden;
}
.girl .hair:after {
	content: "";
	position: absolute;
	width: 80px;
	height: 160px;
	background: #070a1d;
	border-radius: 25px;
	top: 60px;
	left: 12px;
}
.girl .hair.look-left {left: -5px; width: 100px;}
.girl .hair.look-right {left: -17px; width: 100px;}
.girl .hair.look-down {top: -12px; height: 165px;}
.girl .hair.look-up {top: -8px; height: 180px;}
.girl .hair.look-down-left {transform: rotate(-10deg);}
.girl .hair.look-down-right {transform: rotate(10deg);}
.girl .hair.look-up-left {left: -8px; top: -8px; height: 180px;}
.girl .hair.look-up-right {left: -25px; top: -8px; height: 180px;}
.girl .clothes {
	background: var(--yellow);
	width: 80px;
	height: 40px;
	border-radius: 100px 100px 10px 10px;
	top: 105px;
	overflow: hidden;
}
.girl .clothes .jumper {
	width: 60px;
	height: 100%;
	background: var(--blue);
	top: 60%;
	left: 0;
	right: 0;
	margin: auto;
}
.girl .clothes .jumper:before, .girl .clothes .jumper:after {
	background: var(--blue);
	width: 10px;
	height: 50px;
	content: "";
	position: absolute;
	top: -40px;
}
.girl .clothes .jumper:before {left: 0;}
.girl .clothes .jumper:after {left: 50px;}
.hobby {
	position: absolute;
	color: var(--almost-black);
	width: 25vw;
	padding: 5px;
	font-weight: bold;
	font-size: calc(16px + (20 - 16) * (100vw - 320px)/(1440 - 320));
}
.hobby.first, .hobby.second, .hobby.third{top: calc(122px + (150 - 122) * (100vw - 320px)/(1440 - 320));}
.hobby.sixth, .hobby.seventh, .hobby.eighth {bottom: 5vh;}
.hobby.fourth, .hobby.fifth {top: calc(((122px + (150 - 122) * (100vw - 320px)/(1440 - 320)) + 95%)/2); transform: translateY(-50%);}
.hobby.first, .hobby.fourth, .hobby.sixth {left: calc(0px + (222.35 - 0) * (100vw - 320px)/(1440 - 320));}
.hobby.third, .hobby.fifth, .hobby.eighth {right: calc(0px + (222.35 - 0) * (100vw - 320px)/(1440 - 320)); text-align: right;}
.hobby.second, .hobby.seventh {left: 50vw; transform: translateX(-50%); text-align: center;}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxSOCIALxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.social {
	background: var(--bgcolor-7);
	min-height: 100%;
	--timing: 265ms;
	--icon-color: #ff003c;
	--accent: #c648c8;
	--grape: #7b00e0;
	--orchid: #ae31d9
}
.wrapper, .icons {
	box-sizing: border-box;
}
.wrapper {
	text-align: center;
	display: flex;
	height: 75vh;
	justify-content: center;
	align-items: center;
}
.icons {
	padding: 0;
	list-style: none;
	--icon-width: calc(4.5 * var(--text-size));
}
.icons li {
	display: inline-block;
	margin: var(--text-size);
	position: relative;
	font-size: calc(2.2 * var(--text-size));
}
.icons i {
	display: block;
	width: var(--icon-width);
	color: var(--white-text);
	position: absolute;
	top: 21px;
	text-align: center;
	transition: all var(--timing) ease-out;
}
.icons a {
	display: inline-block;
}
.icons a::before {
	content: "";
	transform: scale(1);
	width: var(--icon-width);
	height: var(--icon-width);
	border-radius: 100%;
	display: block;
	background: linear-gradient(45deg, var(--icon-color), var(--accent));
	transition: all ease-out var(--timing);
}
.icons a:hover::before {
	transform: scale(0);
	transition: all ease-out var(--timing);
}
.icons a:hover i{
	transform: scale(2);
	background: linear-gradient(45deg, var(--icon-color), var(--accent));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxMEDIA QURIESxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media (min-width: 1440px) {
	h1 {
		font-size: 128px;
	}
}
@media (max-width: 874px) {
	.social-network {
		margin: 5px 10px;
	}
	.name {
		text-transform: uppercase;
	}
}
@media (max-width: 320px) {
	h1 {
		font-size: 40px;
	}
}
@media (max-height: 450px) {
	.hobbies {
		min-height: 470px;		
	}
}